@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    height: 100vh;
}

#main_body {
    height: 100vh !important;   
}

main{
    height: 100vh !important;
}
.w-32{
    width: 8rem; /* 128px */
}

.h-32{
    height: 8rem; /* 128px */
}

.align-items_center{
    align-items: center;
}

.py-4{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-2{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.items-start{
    align-items: start;
}

.drag-drop{
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.container-sections{
    max-width: 1400px;
    width: 990px;  
}


/* fluid 5 columns */
.grid-sizer,
.grid-item{
    width: 20%;
    /* img {
        width: 100%;
    } */
}

.m-4{
    margin: 1rem;
}

.mb-4{
    margin-bottom: 1rem;
}	

/* 2 columns */
.grid-item--width2 { width: 40%; }

@media only screen and (max-width: 991px) {

    /* fluid 3 columns */
    .grid-sizer,
    .grid-item{
        width: 33%;
    }
}

@media only screen and (max-width: 670px) {
    
    /* fluid 2 columns */
    .grid-sizer,
    .grid-item{
        width: 50%;
    }
}

@media only screen and (max-width: 320px) {
    html{
        width: 54vh;
    }
    section{
        width: 100%;
    }

    /* fluid 1 columns */
    .grid-sizer,
    .grid-item{
        width: 100%;
    }
}

#flowbite_area {
    text-align: center;
}

.img-container {
    width: 200px; /* Définissez la largeur souhaitée */
    max-width: 100%; /* Assurez la réactivité */
    overflow: hidden; /* Cache les parties débordantes */
}

.img-container img {
    width: 100%; /* L'image occupe toute la largeur du conteneur */
    height: auto; /* Hauteur proportionnelle */
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    transition: filter 0.3s ease;
}

.image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover img {
    filter: brightness(0.7); /* Rend l'image plus sombre */
    
}
.image-container:hover{
    cursor: pointer;
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: white;
    font-size: 1.5em;
    text-align: center;
}

.image_section img{
    width: 100%;
}


